body {
  position: relative;
}
.carousel-inner .item,
.carousel-control {
  height: 350px;
  background-image: url('images/fonslide.jpg');
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-inner .item img {
  margin: auto;
}
#slider .container-fluid {
  min-height: 350px;
}
#imgtopslide {
  height: 25px;
  background-image: url('images/topslide2.png');
}
#slider .container-fluid,
#services .container-fluid {
  background-color: #ffffff;
  margin-left: 70px;
  margin-top: 10px;
}
#navbar {
  background-color: #ffffff;
  width: 100px;
}
#left-menu .block {
  width: 70px;
  position: fixed;
  background-color: #9acd32;
  text-align: center;
  cursor: pointer;
}
#menu {
  background-color: #9acd32;
}
#logo {
  background-color: #ffffff;
  height: 90px;
  margin-top: 10px;
}
#logo img {
  max-width: 100%;
  width: 196px;
}
#call .fa {
  color: #9acd32;
}
#call {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  heght: 50px;
  color: green;
  -webkit-animation: 0.5s tremor ease-out infinite;
  animation: 0.5s tremor ease-out infinite;
}
@-webkit-keyframes tremor {
  0%,
  25% {
    left: -1px;
    top: -1px;
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 1px;
    top: 1px;
    -webkit-transform: translateX(4%);
    transform: translateX(4%);
  }
}
@-moz-keyframes tremor {
  0%,
  25% {
    left: -1px;
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 1px;
    -webkit-transform: translateX(4%);
    transform: translateX(4%);
  }
}
@-ms-keyframes tremor {
  0%,
  25% {
    left: -1px;
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 1px;
    -webkit-transform: translateX(4%);
    transform: translateX(4%);
  }
}
@-o-keyframes tremor {
  0%,
  25% {
    left: -1px;
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 1px;
    -webkit-transform: translateX(4%);
    transform: translateX(4%);
  }
}
@keyframes tremor {
  0%,
  25% {
    left: -1px;
    -webkit-transform: translateX(-4%);
    transform: translateX(-4%);
  }
  50%,
  100% {
    left: 1px;
    -webkit-transform: translateX(4%);
    transform: translateX(4%);
  }
}
.telefon-header {
  font-weight: bold;
  margin-top: 15px;
}
.telefon-header .number {
  font-size: 1.2em;
}
#adress {
  width: 150px;
}
#desc {
  margin-top: 10px;
  font-size: 15px;
  text-align: left;
}
.mail {
  margin-top: 15px;
}
#services h4 {
  color: #212121;
}
#services .item {
  width: 250px;
  height: 315px;
  margin: 20px auto 0;
  cursor: pointer;
}
#services .item .text-ramka {
  padding-top: 15px;
  text-align: left;
  font-size: 14px;
  color: black;
  font-weight: 600;
  margin-left: 110px;
}
#left-menu li.active {
  background-color: #A08938;
}
#razdel-main h1,
.zagolovok h1 {
  font-family: old-comedy;
  font-size: 35px;
  text-align: center;
}
#ramka-1 {
  background-image: url('images/ramka-kuhnya2.png');
}
.lightbox {
  display: none;
  position: fixed;
  margin-left: -350px;
  width: 700px;
  height: 425px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  z-index: 1031;
}
.closeBox {
  right: 5px;
  top: 5px;
  position: absolute;
  font-size: 16;
  color: white;
}
.closeBox:hover {
  cursor: pointer;
}
.bigImg {
  top: 10px;
  left: 50%;
  margin-left: -313px;
  width: 616px;
  height: 406px;
  border-radius: 7px;
  background-color: #ffffff;
  position: absolute;
  background-image: url('images/backblackbox.jpg');
  overflow: hidden;
}
.pages-wrapper {
  width: 1400px;
}
.page1 {
  width: 260px;
  height: 406px;
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}
.text-page {
  width: 250px;
  text-align: justify;
  font-size: 13px;
  margin-left: 30px;
}
.text-page ul {
  margin-left: 0;
  padding-left: 0;
}
.text-page ul li {
  list-style-type: none;
  margin: 5px;
}
.text-page ul li a {
  text-decoration: none;
}
.text-page ul li:hover a {
  color: white;
}
.page2 {
  width: 288px;
  height: 406px;
  float: left;
  margin-top: 25px;
}
.text-page2 {
  width: 220px;
  text-align: justify;
  font-size: 13px;
  margin-left: 40px;
  margin-top: 15px;
}
.page3 {
  width: 210px;
  height: 406px;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  text-align: justify;
}
.text-page3 {
  width: 230px;
  text-align: justify;
  margin-left: 30px;
  font-size: 13px;
}
.page4 {
  width: 288px;
  height: 406px;
  float: left;
  margin-top: 30px;
  font-size: 13px;
}
.text-page4 {
  width: 200px;
  text-align: justify;
  margin-left: 120px;
}
.nextPage,
.backPage {
  color: #9acd32;
  font-size: 16px;
  font-weight: bold;
  float: right;
  margin-top: 25px;
}
.nextPage,
.backPage:hover {
  cursor: pointer;
}
#ramka-2 {
  background-image: url('images/ramka-vanna4.png');
}
#ramka-3 {
  background-image: url('images/ramka-pod2.png');
}
#ramka-4 {
  background-image: url('images/ramka-bar2.png');
}
#ramka-5 {
  background-image: url('images/ramka-reception2.png');
}
#ramka-6 {
  background-image: url('images/ramka-sanuzel2.png');
}
.services-details {
  margin-top: 20px;
  text-align: center;
}
.card-block {
  text-align: justify;
  margin-left: 100px;
}
#razdel-content {
  margin-left: 50px;
}
#logostaron {
  height: 100px;
  margin-left: 10px;
  width: 100px;
  float: left;
}
#katalog-kamnya {
  margin-top: 50px;
}
.shablon-stone {
  height: 137px;
  width: 150px;
  text-align: center;
  background-image: url('images/backstoneform.jpg');
  float: left;
}
#map {
  margin-top: 50px;
  min-height: 400px;
}
#footer {
  margin-top: 50px;
  min-height: 200px;
}
@media (min-width: 768px) {
  #menu {
    margin-top: 100px;
    height: 30px;
  }
  .content-wrapper {
    margin-top: 150px;
  }
  #adress {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    height: 30px;
    text-align: center;
  }
}
#menu .navbar-header a {
  font-size: 1em;
  color: #ffffff;
  margin-left: 0px;
}
#menu .navbar-header a:focus,
#menu .navbar-header a:hover {
  color: #333;
}
@media (max-width: 768px) {
  header.navbar-fixed-top,
  #menu {
    position: relative;
  }
  #slider {
    display: none;
  }
  #left-menu .block {
    display: none;
  }
}
#left-menu ul li a:hover {
  text-decoration: none;
}
#left-menu ul li:hover {
  background-color: #A08938;
}
#background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1030;
  display: none;
}
.thumb img {
  filter: none;
  /* IE6-9 */
  -webkit-filter: grayscale(0);
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
}
.thumb img:hover {
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(1);
}
.thumb {
  padding: 5px;
}
.img-responsive {
  border-radius: 5px;
}
#textstone {
  margin-left: 10px;
  text-align: justify;
}
#left-menu .nav > li > a {
  padding: 0px;
}
#left-menu .nav > li span {
  display: block;
}
#left-menu .nav > li {
  padding: 0;
}
#left-menu .nav > li > a {
  padding: 5px 0;
}
#left-menu .nav > li > a:hover,
.nav > li > a:focus {
  background-color: #A08938;
}
#left-menu a {
  color: #ffffff;
}
#left-menu span {
  font-size: 10px;
  color: #000000;
}
/** Changed Bootstrap styles**/
@font-face {
  font-family: 'old-comedy';
  src: url('../fonts/old-comedy.ttf');
}
a {
  color: #000;
}
.btn-default:hover {
  color: black;
  background-color: white;
  border-color: green;
}
.btn-primary {
  color: #000000;
  background-color: #e0b0ff;
  border-color: #e0b0ff;
}
.btn-success {
  color: #000000;
  background-color: #9acd32;
  border-color: #9acd32;
}
.btn-warning {
  color: #000000;
  background-color: #ffd700;
  border-color: #ffd700;
}
.btn-group-lg > .btn {
  font-size: 16px;
  border-color: green;
  text-align: left;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: 1px solid green;
}
.navbar-default {
  background-color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #A08938;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #bdb76b;
}
.breadcrumb {
  background-color: #ffffff;
}
.breadcrumb > li + li:before {
  color: green;
}
.breadcrumb > .active {
  color: black;
  border-bottom: 2px solid #9acd32;
  background-color: #white;
}
.carousel-indicators {
  bottom: 20px;
  padding-bottom: 10px;
}
.background-stone {
  position: absolute;
  top: 1px;
  left: 20px;
  width: 130px;
  z-index: -1;
}
.fancy-title-link {
  text-align: center;
  font-size: 1.2em;
}
@media screen and (min-width: 768px) {
  .carousel-caption {
    right: 30%;
    left: 30%;
    padding-bottom: 20px;
  }
  .carousel-indicators {
    bottom: 30px;
  }
}
.footer-text {
  border-right: 1px solid green;
  padding: 0 10px;
  margin: 0 10px;
  color: green;
}
.footer-text h5 {
  font-weight: bold;
  font-size: 12px;
}
.footer-text h5 a {
  color: green;
}
.footer-gold {
  background-color: #A08938;
}
.footer-green {
  background-color: #9acd32;
  font-size: 12px;
  font-weight: bold;
}
.text-site {
  padding: 20px;
  font-size: 14px;
  text-align: justify;
  text-indent: 15px;
}
.text-site :focus {
  outline: none;
}
.ramka-img .thumbnail {
  border-style: solid;
  border-width: 14px  0px;
  -moz-border-image: url('/css/images/topslide2.png') 19 0 19 repeat;
  -webkit-border-image: url('/css/images/topslide2.png') 19 0 19 repeat;
  -o-border-image: url('/css/images/topslide2.png') 19 0 19 repeat;
  border-image: url('/css/images/topslide2.png') 19 0 19 fill repeat;
}
.stone-name {
  text-align: center;
  display: block;
  border: 0 none;
  width: 100%;
  padding: 0;
  background: transparent;
  text-indent: 0;
  line-height: 20px;
  font-size: 12px;
  line-height: 14px;
  height: 42px;
  overflow: hidden;
}
.title-price-stone {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  display: block;
}
.price-container .table th {
  background-color: #ff7538;
  border: 0px;
}
.price-container .table,
.title-price-stone,
.tabble-pere {
  width: 95%;
  margin-left: 2.5%;
}
tr.itogo {
  font-size: 14px;
  font-weight: 600;
  color: green;
  border-top: 2px solid#ff7538;
}
.citata {
  font-size: 13px;
  font-style: italic;
  text-align: right;
}
.block-text-izd {
  border: solid green 1px;
  padding: 5px;
  border-radius: 0.5em 2em;
  padding: 15px;
  margin: 15px;
}
.block-text-izd2 {
  border: solid purple 1px;
  padding: 5px;
  border-radius: 0.5em 2em;
  padding: 15px;
  margin: 15px;
}
.imgone {
  padding-top: 15px;
}
p.skidka-text {
  font-size: 14px;
  font-weight: 600;
  color: green;
}
p.skidka-summa {
  font-size: 14px;
  font-weight: 600;
  color: red;
}
#main-page .tabbable,
#footer .container,
#main-page #map {
  padding-left: 30px;
}
