RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]
RewriteCond %{HTTPS} on
RewriteRule (.*) http://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
Redirect 301 /podokonnik.htm /site/pod
Redirect 301 /moyki.htm /site/moyki
Redirect 301 /cena.htm /price/index
Redirect 301 /otzyv.htm /site/kontakty
Redirect 301 /tristone.htm /catalog/tristone
Redirect 301 /stoleshnica_kuhnya.htm /site/kuhnya
Redirect 301 /lest.htm /site/lest
Redirect 301 /rakoviny.htm /site/rac
Redirect 301 /ras4et.htm /price/index
Redirect 301 /samsung_staron/staron_fz184_tempest_zenith.htm /catalog/51
Redirect 301 /lg_hi_macs/lg_hi_macs.htm /catalog/lg_hi_macs
Redirect 301 /corian/corian_beige_fieldstone.htm /catalog/391
Redirect 301 /tristone/tristone_mt002_chocolate_cognac.htm /catalog/533
Redirect 301 /remont/vopros.htm /price/skidka
Redirect 301 /corian/corian_eclipse.htm /catalog/352
Redirect 301 /lg_hi_macs/lg_hi_macs_white_granite_g005.htm /catalog/227
Redirect 301 /corian/corian_mediterranean.htm /catalog/corian
Redirect 301 /corian/corian_raffia.htm /catalog/363
Redirect 301 /corian/corian_primrose.htm /catalog/corian
Redirect 301 /corian/corian_bronzite.htm /catalog/corian
Redirect 301 /samsung_staron/staron_ts385_luna.htm /catalog/staron
Redirect 301 /corian/corian_midnight.htm /catalog/360
Redirect 301 /samsung_staron/staron_as661_aspen_slate.htm /catalog/staron
Redirect 301 /lg_hi_macs/lg_hi_macs_corona_g110.htm  /catalog/231
Redirect 301 /samsung_staron/staron_ts345_sandbar.htm /catalog/105
Redirect 301 /hanex/hanex_s_008_n_white.htm /catalog/499
Redirect 301 /corian/corian_medea.htm /catalog/359
Redirect 301 /corian/corian_platinum.htm /catalog/402
Redirect 301 /moyki/a1231.htm /site/moyki
Redirect 301 /lg_hi_macs/lg_hi_macs_black_pearl_g010.htm /catalog/270
Redirect 301 /corian/corian_dusk.htm /catalog/351
Redirect 301 /corian/corian_butter_cream.htm /catalog/corian
Redirect 301 /corian/corian_sienna_brown.htm /catalog/367
Redirect 301 /tristone/tristone_french_roast_st-102.htm /catalog/576
Redirect 301 /tristone/tristone_snow_pearl_s-203.htm /catalog/559
Redirect 301 /tristone/tristone_black_frost_s-205.htm /catalog/561
Redirect 301 /hanex/hanex_gam-001_aftersnow.htm /catalog/463
Redirect 301 /hanex/hanex_t-012_h_elegance.htm /catalog/515
Redirect 301 /hanex/hanex_d-003_goldbrown.htm /catalog/451
Redirect 301 /hanex/hanex_t-021_pure_arctic.htm /catalog/518
Redirect 301 /hanex/hanex_b-035_chocolate.htm /catalog/424
Redirect 301 /tristone/tristone_aquamarine_f-102.htm /catalog/588
Redirect 301 /samsung_staron/staron_af611_aspen_fiesta.htm /catalog/staron
Redirect 301 /samsung_staron/staron_sb412_sanded_birch.htm /catalog/73
Redirect 301 /samsung_staron/staron_sg420_sanded_grey.htm /catalog/73
Redirect 301 /samsung_staron/staron_sg420_sanded_grey.htm /catalog/81
Redirect 301 /tristone/tristone_b005_andradite.htm /catalog/585
Redirect 301 /samsung_staron/staron_pl814_pebble_lagoon.htm /catalog/staron
Redirect 301 /corian/corian_bisque.htm /catalog/315
Redirect 301 /stoleshnica_kuhnya/stoleshnica_kuhnya9.htm /catalog/350
Redirect 301 /tristone/tristone_ts110_aragon.htm /catalog/tristone
Redirect 301 /hanex/hanex_b-019_ryhtmic_shine.htm /catalog/417
Redirect 301 /corian/corian_night_sky.htm /catalog/384
Redirect 301 /corian/corian_tumbled_glass.htm /catalog/corian
Redirect 301 /tristone/tristone_b006_jasper.htm /catalog/586
Redirect 301 /samsung_staron/staron_qe240_esker.htm /catalog/69
Redirect 301 /samsung_staron/staron_sk432_sanded_kiwi.htm /catalog/staron
Redirect 301 /corian/corian_tarragon.htm /catalog/corian
Redirect 301 /corian/corian_glacier_white.htm /catalog/313
Redirect 301 /samsung_staron/staron_es557_metallic_sunray.htm /catalog/staron
Redirect 301 /samsung_staron/staron_pl848_pebble_limestone.htm /catalog/63
Redirect 301 /corian/corian_mont_blanc.htm /catalog/383
Redirect 301 /corian/corian_macadam.htm /catalog/corian
Redirect 301 /podokonnik/podokonnik6.htm /site/pod
Redirect 301 /tristone/tristone_ts115_felsite.htm /catalog/tristone
Redirect 301 /lg_hi_macs/lg_hi_macs_pluto_t013.htm /catalog/222
Redirect 301 /corian/corian_olivite.htm /catalog/corian
Redirect 301 /corian/corian_peach.htm  /catalog/corian
Redirect 301 /corian/corian_hot.htm /catalog/355
Redirect 301 /izd.htm /site/izd
Redirect 301 /moyki/a1121.htm /site/moyki
Redirect 301 /corian/corian_whitecap.htm /catalog/412
Redirect 301 /samsung_staron/staron_pq853_pebble_quarry.htm /catalog/staron
Redirect 301 /lg_hi_macs/lg_hi_macs_gray_sand_g002.htm /catalog/lg_hi_macs
Redirect 301 /stoleshnica_kuhnya/stoleshnica_kuhnya12.htm /site/kuhnya
Redirect 301 /podokonnik/podokonnik3.htm /site/pod
Redirect 301 /hanex/hanex_m-007_black.htm /catalog/479
Redirect 301 /tristone/tristone_black_quartz_f-205.htm /catalog/601
Redirect 301 /hanex/hanex_d-037_dijon_beige.htm /catalog/460
Redirect 301 /lg_hi_macs/lg_hi_macs_black_sand_g009.htm /catalog/lg_hi_macs
Redirect 301 /samsung_staron/staron_sm075_solid_mountain_bluebird.htm /catalog/86
Redirect 301 /stoleshnica_kuhnya/index6.htm /site/kuhnya
Redirect 301 /lg_hi_macs/lg_hi_macs_oreo_crunch_g104.htm /catalog/lg_hi_macs
Redirect 301 /remont/goruchest_staron.htm /catalog/staron
Redirect 301 /corian/corian_antique_amethyst.htm /catalog/corian
Redirect 301 /lg_hi_macs/lg_hi_macs_nebula_t010.htm /catalog/220
Redirect 301 /remont/gigena_moyki.htm /site/moyki
Redirect 301 /podokonnik/podokonnik1.htm /site/pod
Redirect 301 /samsung_staron/staron_sb043_solid_blonde.htm /catalog/74
Redirect 301 /lg_hi_macs/lg_hi_macs_natural_quartz_g19.htm /catalog/275
Redirect 301 /tristone/tristone_magma_st-005.htm /catalog/tristone
Redirect 301 /hanex/hanex_d-038_blackbeat.htm /catalog/459
Redirect 301 /remont/pojar_sert_staron.htm /catalog/staron
Redirect 301 /samsung_staron/staron_pt857_pebble_terrain.htm /catalog/54
Redirect 301 /hanex/hanex_b-032_florida_beach.htm /catalog/421
Redirect 301 /samsung_staron/staron_sg054_solid_geranium.htm /catalog/staron
Redirect 301 /samsung_staron/staron_si071_solid_skylight.htm /catalog/staron
Redirect 301 /stoleshnica_kuhnya/index9.htm /site/kuhnya
Redirect 301 /stoleshnica_kuhnya/index3.htm /site/kuhnya
Redirect 301 /hanex/hanex_c-008_cubic_nebulous.htm /catalog/449
Redirect 301 /corian/corian_marine_blue.htm /catalog/corian
Redirect 301 /corian/corian_shale.htm /catalog/366
Redirect 301 /corian/corian_copperite.htm /catalog/corian
Redirect 301 /corian/corian_sand.htm /catalog/332
Redirect 301 /stoleshnica_kuhnya/index8.htm /site/kuhnya
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php [L,QSA]