RewriteEngine On
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ http://%1/$1 [L,R=301]

Redirect 301 /podokonnik.htm /site/pod
Redirect 301 /moyki.htm /site/moyki
Redirect 301 /cena.htm /price/index
Redirect 301 /otzyv.htm /site/kontakty
Redirect 301 /tristone.htm /catalog/tristone
Redirect 301 /stoleshnica_kuhnya.htm /site/kuhnya
Redirect 301 /lest.htm /site/lest
Redirect 301 /rakoviny.htm /site/rac
Redirect 301 /ras4et.htm /price/index

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php/$1 [L,QSA]